<div>
  <div class="px-20 h-80 bg-slate-800 pb-5">
    <div>
      <p class="text-white pt-5 text-5xl tracking-widest">TODO</p>
      <mat-card>
        <mat-card-content class="bg-slate-900">
          <div class="flex flex-row flex-nowrap">
            <mat-form-field appearance="outline" subscriptSizing="dynamic" class="grow">
              <input matInput placeholder="Create a new todo..." class="placeholder:text-slate-500 text-slate-300">
            </mat-form-field>
            <button mat-mini-fab aria-label="Add todo item" class="ml-5 self-center bg-slate-900 outline outline-1 outline-slate-500">
              <mat-icon class="text-slate-500">add</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="mt-10 flex-col">
      <mat-card>
        <mat-card-content class="bg-slate-900">

        </mat-card-content>
      </mat-card>
      <mat-divider class="bg-slate-500"></mat-divider>
      <mat-card>
        <mat-card-content class="bg-slate-900">

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
